.features{
	padding:8rem 2rem 9rem 2rem;
	font-weight: 300;

	&__text{
		line-height: 3rem;
		width: 100%;
		margin:0 auto;
		text-align: center;

		@mixin atSmall{
			width: 70%;
		}
	}

	&__box{
		padding: 1rem;
		&:not(:last-child){
			margin-right: 2rem;
		}

		&-icon{
			display: block;
			font-size: 7rem;
			color: $orange;
			margin-bottom: 1.5rem;
		}

		&-heading{
			text-transform: uppercase;
			font-weight: 300;
			margin-bottom: 1.5rem;
		}

		&-text{
			line-height: 2.8rem;
			font-size: 1.8rem;
		}
	}
}