.footer{
	padding: 6rem 2rem;
	background-color: #333;
	color: #888;
	font-size: 1.6rem;

	&__links{
		text-align: center;

		@mixin atSmall{
			text-align: left;
		}

		ul{ list-style-type: none; }

		li{
			display: inline-block;
			padding: 1rem 2rem;
			margin-right: 2rem;

			@mixin atSmall{
				padding: 0;
			}
		}

		a:link,
		a:visited{
			text-decoration: none;
			color: currentColor;
		}

		a:hover,
		a:active{
			color: #ddd;
		}
	}

	&__social-media{
		float: none;
		text-align: center;
		margin-bottom: 3rem;

		@mixin atSmall{
			float: right;
			text-align: left;
		}


		&-icon{
			cursor: pointer;
			display: inline-block;
			width: 2rem;
			height: 2rem;
			margin-right: 2rem;
			stroke-width: 0;
			stroke: currentColor;
			fill: currentColor;

			&:hover{
				stroke: #ddd;
				fill: #ddd;
			}
		}
	}

	&__legal-text{
		text-align: center;
	}

	&__copyright{
		margin: 0 auto;
		padding: 1rem;
		width: 60%;
		line-height: 1.6;

		a{
			text-decoration: none;
			color: #e0e0e0;
			transition: box-shadow .2s;

			&:hover,
			&:active{
				box-shadow: 0 1rem 2rem rgba(0,0,0,.8);
			}
		}
	}
}