.form{
	padding: 8rem 2rem;

	&__contact{
		width: 100%;
		margin: 0 auto;

		@mixin atSmall{
			width: 80%;
		}

		@mixin atMedium{
			width: 60%;
		}

		&-line > div:first-of-type {
			margin-bottom: 2rem;
		}

		& input[type=text], input[type=email], select, textarea{
			width: 100%;
			font-weight: 300;
			padding: 1rem;
			border-radius: .4rem;
			border: 1px solid #ccc;
			outline: none;
		}

		& select{
			background-color: #FFF; /*for mobiles*/
		}

		& input[type=text]:focus , input[type=email]:focus, select:focus , textarea:focus {
			box-shadow: 0 0 5px rgba($orange, .5);
		}

		&-line{
			margin: 2rem;
		}

		& input[type="submit"]{
			font-weight: 300;
			padding: 1rem 3rem;
			margin-top: 1rem;
			border: none;
			box-shadow: none;
			border-radius: 20rem;
			color: #fff;
			background-color: $orange;


			&:hover,
			&:active{
				background-color: $orange-dark;
			}
		}

		& input[type="submit"]:focus{
			outline: none;
		}
	}
}