.header{
	background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/hero.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;

	&__text-box{
	    width: 114rem;
	    position: absolute;
	    @mixin center;
	}

	&__heading{
		margin: 0;
		font-size: 4.8rem;
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
		word-spacing: .4rem;
	}
}