.header{
	background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/small/hero-sm.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	padding: 0 2rem;
	position: relative;

	@mixin resp-css-medium{
		background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/medium/hero-md.jpg);
	}

	@mixin resp-css-high{
		background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/high/hero-hi.jpg);
	}

	@mixin resp-css-hd{
		background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/hd/hero.jpg);
	}

	&__text-box{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__heading{
		margin: 0;
		font-size: 4.2rem;
		font-weight: 300;
		color: #fff;
		line-height: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
		word-spacing: .4rem;

		mixin atSmall{
			font-size: 4.8rem;
		}
	}
}