.nav-bar{
	margin-top: 2rem;
	display: flex;
	align-items: center;
	position: relative;

	&__logo-white{
		display: block;
		height: 10rem;
	}

	&__checkbox{
		display: none;
		visibility: hidden;
	}

	&__toggle{
		width: 5rem;
		height: 5rem;
		background-color: #ecf0f1;
		border-radius: 50%;
		box-shadow: 0 2px 4px rgba(0,0,0,0.5);
		z-index: 30;
		position: fixed;
		top: 4rem;
		right: 4rem;
		cursor: pointer;

		&:hover > .nav-bar__menu-icon::before{ top: -.9rem; }
		&:hover > .nav-bar__menu-icon::after{ top: .9rem; }

		@mixin atMedium{
			display: none;
			visibility: hidden;
		}
	}

	&__menu-icon{
		position: relative;
		&,
		&::before,
		&::after{
			width:2rem;
			height: 2px;
			background-color: #333;
			display: inline-block;
		}

		&{
			position: absolute;
			@mixin center;
		}

		&::before,
		&::after{
			content: '';
			position: absolute;
			left: 0;
			transition: all .2s;
		}

		&::before{ top: -.8rem; }
		&::after{ top: .8rem; }

		@mixin atMedium{
			display: none;
			visibility: hidden;
		}
	}

	&__checkbox:checked ~ &__nav{
		opacity: 1;
		transform: scale(1);
		visibility: visible;
	}

	&__checkbox:checked ~ &__toggle &__menu-icon{
		background-color: transparent;
	}

	&__checkbox:checked ~ &__toggle &__menu-icon:before{
		top: 0;
		transform: rotate(135deg);
	}

	&__checkbox:checked ~ &__toggle &__menu-icon:after{
		top: 0;
		transform: rotate(-135deg);
	}

	&__nav{
		height: auto;
		width: 100vw;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 20;
		background-color: rgba(#f39c12, .99);

		opacity: 0;
		visibility: hidden;
		transition: all .4s;

		transform: scale(1.5);

		ul{
			list-style-type: none;
			text-align: center;

			a{
				display: inline-block;
				width: 100%;
				text-decoration: none;
				color: #eee;
				font-size: 2.4rem;
				padding: 2.2rem 2rem;
				transition: all .2;
				border-bottom: 1px solid #f/*f*/f;
				border-radius: 1rem;

				&:hover{
					background-color: #efefef;
					color: #111;
				}
			}
		}

		@mixin atMedium{
			height: auto;
			width: auto;
			position: absolute;
			top: 30%;
			right: 0;
			background-color: transparent;

			opacity: 1;
			visibility: visible;
			transition: all 0s ease;

			transform: scale(1);

			ul{
				list-style-type: none;
				text-align: left;

				li{
					display: inline-block;
					&:not(:last-child){
						margin-right: 4rem;
					}

					a:link,
					a:visited{
						width: auto;
						display: inline-block;
						text-decoration: none;
						font-size: 1.8rem;
						font-weight: 300;
						color: #FFF;
						padding: .8rem 0;
						border-bottom: 2px solid transparent;
						border-radius: 0;
						transition: all .2s;
					}

					a:hover,
					a:visited{
						border-bottom: 2px solid #e67e22;
						background-color: transparent;
						color: #fff;
					}
				}
			}
		}
	}

}