.steps{
	padding: 8rem 2rem;
	background-color: #f4f4f4;

	&__app-img{
			float: none;
			max-width: 20rem;
			display: block;
			margin: 0 auto;
		
		@mixin atSmall{
			float: right;
			margin-right: 5rem;
		}
	}

	&__wrapper{
		padding: 4rem 2rem;
	}

	&__box{
		margin-bottom: 5rem;
		display: flex;
		align-items: center;

		&-number{
			display: block;
			height: 5.5rem;
			width: 5.5rem;
			margin-right: 2rem;
			font-size: 3rem;
			font-weight: 300;
			color: $orange;
			border-radius: 50%;
			border: 2px solid currentcolor;

			position: relative;

			& span{
				position: absolute;
				@mixin center;
			}
		}

		&-text{
			font-weight: 300;
			width: 90%;

			@mixin atSmall{
				width: 70%;
			}
		}

		&-download{
			text-align: center;

			@mixin atSmall{
				text-align: left;
			}

			&-links{ text-decoration: none; }

			&-links-img{
				height: 4.9rem;
				width: 15rem;
				width: auto;

				&:not(:last-child){
					margin-right: 1rem;
				}
			}
		}

	}

}