.mg-tp-sm{ margin-top: 2rem !important; }
.mg-tp-md{ margin-top: 4rem !important; }
.mg-tp-lg{ margin-top: 6rem !important; }
.mg-tp-hg{ margin-top: 8rem !important; }

.mg-bt-sm{ margin-bottom: 2rem !important; }
.mg-bt-30{ margin-bottom: 3rem !important; }
.mg-bt-md{ margin-bottom: 4rem !important; }
.mg-bt-lg{ margin-bottom: 6rem !important; }
.mg-bt-hg{ margin-bottom: 8rem !important; }